* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

/* font-family: 'Barlow', sans-serif; */
/* Headings, Call-to-actions, Navigation font-family: 'Barlow Condensed', sans-serif; */


/* NAVBAR */

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
    max-width: 80%;
    margin: auto;
}

.navbar .main-menu {
    margin-left: auto;
}

.navbar .main-menu ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.navbar .main-menu ul li {
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.navbar .main-menu ul li a {
    text-decoration: none;
    color: hsl(230, 29%, 20%);
    text-transform: uppercase;
}

.navbar .main-menu ul li a:hover {
    text-decoration: underline 2px;
    color: hsl(230, 29%, 20%);
    text-transform: uppercase;
}

.hamburger-button {
    display: none;
    cursor: pointer;
    border: none;
}

.close-icon {
    display: none;
}

.rounded-div {
    width: 6px;
    height: 6px;
    background-color: rgb(187, 187, 187);
    border-radius: 50%;
}


/* MOBILE MOBILE */

.mobile-menu {
    display: none;
}

.mobile-menu.active {
    display: block;
    position: absolute;
    background-color: #FFF;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* HERO SECTION */

.container {}

.hero {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: center;
    max-width: 80%;
    margin: auto;
    gap: 2em;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero-content h1 {
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    color: hsl(230, 29%, 20%);

}


.new {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Barlow Condensed';
    letter-spacing: 0.3em;
    color: hsl(231, 7%, 65%);
}

.new p {
    padding-left: 1em;
}


.new button {
    padding: 0.2em 0.7em;
    border-radius: 1.5em;
    border: none;
    background-color: hsl(230, 29%, 20%);
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-weight: bold;
    font-size: 1em;
}


.hero-text {
    width: 65%;
    margin-right: auto;
    color: hsl(230, 11%, 40%);
}

.demo-button {
    cursor: pointer;
    padding: 0.5em 2em;
    background-color: hsl(0, 100%, 68%);
    border: none;
    border-radius: 0.4em;
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.2s;
}

.demo-button:hover {
    cursor: pointer;
    padding: 0.5em 2em;
    background-color: hsl(0, 100%, 77%);
    border: none;
    border-radius: 0.4em;
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.preview-button {
    cursor: pointer;
    padding: 0.5em 2em;
    background-color: #FFF;
    border: none;
    border-radius: 0.4em;
    color: hsl(231, 7%, 65%);
    font-family: 'Barlow Condensed';
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.2s;
}

.preview-button:hover {
    cursor: pointer;
    padding: 0.5em 2em;
    background-color: #FFF;
    border: none;
    border-radius: 0.4em;
    color: hsl(234, 4%, 49%);
    font-family: 'Barlow Condensed';
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}



.img {
    width: 100%;
    margin: auto;
}



/* Classes utilitaire */


@media(max-width:960px) {

    .hero {
        display: flex;
        flex-direction: column-reverse;

    }
}




@media(max-width: 600px) {

    .navbar .container {
        padding-bottom: 3em;
        padding-top: 2em;
    }

    .main-menu {
        display: none;
    }

    .hamburger-button {
        display: block;
        cursor: pointer;
        border: none;

    }


    .mobile-menu {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
        width: 80%;
        margin: auto;
        justify-content: center;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 2em;
        border-radius: 0.3em;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .mobile-menu ul li {
        list-style: none;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: hsl(230, 29%, 20%);
    }

    .grey-line {
        height: 1px;
        background-color: rgb(207, 207, 207);
        width: 80%;
        margin: auto;
    }

    .hero-content h1 {
        font-size: 2.1em;
    }

    .hero-button {
        display: flex;
        flex-direction: row;
    }

    .demo-button {
        cursor: pointer;
        padding: 0.7em 1em;
        background-color: hsl(0, 100%, 68%);
        border: none;
        border-radius: 0.4em;
        color: #FFF;
        font-family: 'Barlow Condensed';
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transition: 0.2s;
    }

    .demo-button:hover {
        cursor: pointer;
        padding: 0.7em 1em;
        background-color: hsl(0, 100%, 68%);
        border: none;
        border-radius: 0.4em;
        color: #FFF;
        font-family: 'Barlow Condensed';
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transition: 0.2s;
    }


    .preview-button {
        cursor: pointer;
        padding: 0.5em 1em;
        background-color: #FFF;
        border: none;
        border-radius: 0.4em;
        color: hsl(231, 7%, 65%);
        font-family: 'Barlow Condensed';
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transition: 0.2s;
    }

    .preview-button:hover {
        cursor: pointer;
        padding: 0.5em 1em;
        background-color: #FFF;
        border: none;
        border-radius: 0.4em;
        color: hsl(234, 4%, 49%);
        font-family: 'Barlow Condensed';
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }


}